body {
    background-color: #f8f9fa;
}

.card {
    border-radius: 15px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}


#wcd-banner {
    opacity: 0;
    transition: opacity 0.8s ease-in-out;

}

#wcd-banner.show {
    opacity: 1;
}